@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #fffffe;
    --color-headline: #094067;
    --color-paragraph: #5f6c7b;
    --color-button-text: #3da9fc;

    --color-bg-primary: #fffffe;
    --color-bg-secondary: #90b4ce;
    --color-highlight: #3da9fc;

    --color-tertiary: #ef4565;
  }
  html {
    font-family: 'Quicksand', sans-serif;
  }
  body {
    background-color: #fffffe;
  }
  h2 {
    @apply text-3xl sm:text-5xl;
  }
  h4 {
    @apply text-2xl font-bold;
  }
}
